## Importing libraries

In [1]:
import os
import numpy as np
import pandas as pd

## Extracting Information from data

In [2]:
#listing directories of dataset actors
dir_list = os.listdir('data')
dir_list.sort()

#defining the featues for dataset
actor = []
emotion = []
gender = []
path = []

#extracting information from each directories
for i in dir_list:
    fname = os.listdir('data/' + i)
    for f in fname:
        part = f.split('.')[0].split('-')
        actor.append(int(part[6]))
        emotion.append(int(part[2]))
        temp = int(part[6])
        if temp%2 == 0:
            temp = "female"
        else:
            temp = "male"
        gender.append(temp)
        path.append('data/' + i + '/' + f)
        
print(part)

IndexError: list index out of range

## Creating DataFrame

In [3]:
#creating data dictionary
data = {
    'actor': actor,
    'gender' : gender,
    'emotion': emotion,
    'path' : path
}

#creating dataframe
df = pd.DataFrame(data)

#replacing numbers with emotions
emotions={
  1 :'neutral',
  2 :'calm',
  3 :'happy',
  4 :'sad',
  5 :'angry',
  6 :'fearful',
  7 :'disgust',
  8 :'surprised'
}
df['emotion'] = df['emotion'].replace(emotions)

In [4]:
df.emotion.value_counts()

calm         16
happy        16
sad          16
angry        16
fearful      16
disgust      16
surprised    16
neutral       8
Name: emotion, dtype: int64

In [5]:
df.head()

   actor gender  emotion                                    path
0      1   male  neutral  data/Actor_01/03-01-01-01-01-01-01.wav
1      1   male  neutral  data/Actor_01/03-01-01-01-01-02-01.wav
2      1   male  neutral  data/Actor_01/03-01-01-01-02-01-01.wav
3      1   male  neutral  data/Actor_01/03-01-01-01-02-02-01.wav
4      1   male     calm  data/Actor_01/03-01-02-01-01-01-01.wav

# Converting Dataframe into CSV file

In [ ]:
df.to_csv('audio_dataset.csv')
print(df)